In [162]:
import os
import pandas as pd
import numpy as np
import itertools
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LogisticRegression

In [164]:
os.listdir()

['.ipynb_checkpoints',
 'booking_com-travel_sample.csv',
 'Homework',
 'hw0.pdf',
 'hw2-scaffolding.ipynb',
 'hw3-scaffolding.ipynb',
 'HW4.pdf',
 'italy_retail.csv',
 'italy_retail.py',
 'Text Analysis.ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb']

In [165]:
df = pd.read_csv('booking_com-travel_sample.csv')

In [166]:
df.head()

,address,city,country,crawl_date,hotel_brand,hotel_description,hotel_facilities,hotel_star_rating,image_count,latitude,...,room_type,similar_hotel,site_review_count,site_review_rating,site_stay_review_rating,sitename,special_tag,state,uniq_id,zone
0,"KHIRSU, 246147 Pauri, India – Great location -",pauri,India,2016-09-01,NaN,Khirsu By GMVN offers accommodation in Pauri. ...,Bathroom:Toilet paper|Linen|Towels|Bathroom|To...,NaN,3.0,30.123749,...,Economy Double Room,Hotel Mandakini,NaN,NaN,NaN,http://www.booking.com/,Share,Uttarakhand,a5ea72415f8007fcbe65759830fdd3d9,NaN
1,"Kaathadimattam, Balacola Post, NEAR Siva Tea F...",ooty,India,2016-09-01,NaN,"Situated in Ooty in the Tamil Nadu Region, 8 k...",Bathroom:Toilet paper|Linen|Towels|Bidet|Towel...,3 stars,NaN,11.329595,...,British Empire Chalet,Treebo Yantra Leisures|Western Valley Resorts|...,5,7.6,Location:8.5|Staff:8|Cleanliness:7.5|Comfort:7...,http://www.booking.com/,Share,Tamil Nadu,7e0b055417271bbd9dae902f3e231ed4,NaN
2,"PIPALKOTI, 246472 Pīpalkoti, India – Show map",pīpalkoti,India,2016-09-01,NaN,TRH Pipalkoti offers accommodation in Pīpalkot...,Bathroom:Toilet paper|Linen|Towels|Bathroom•Vi...,NaN,4.0,30.429540,...,Economy Double Room,TRH Joshimath (New),NaN,NaN,NaN,http://www.booking.com/,Share,Uttarakhand,72c0af09827bbb620365aa5df523ba1d,NaN
3,"1 KARIYIL HOUSE KUMARAKOM NORTH PO KOTTAYAM, 6...",kumarakom,India,2016-09-01,NaN,"Swasti house boat 2 is located in Kumarakom, 3...",Bathroom:Toilet paper|Towels|Bath|Shower•Bedro...,NaN,2.0,9.616057,...,Deluxe Room,NaN,NaN,NaN,NaN,http://www.booking.com/,Share,Kerala,eb6fd33d99aa4a8088caa8f3ecb08275,NaN
4,"Kavanattinkara, 686563 Kumarakom, India – Show...",kumarakom,India,2016-09-01,NaN,"Amrutham Houseboat 2 is set in Kumarakom, 5 km...",Bathroom:Toilet paper|Linen|Towels|Towels/Shee...,NaN,NaN,9.632854,...,Mobile Home,Mandala Beach House & Cottages,NaN,NaN,NaN,http://www.booking.com/,Share,Kerala,0814d9af7ad808863c04db8f30437c57,NaN

In [167]:
df.dtypes

address                     object
city                        object
country                     object
crawl_date                  object
hotel_brand                 object
hotel_description           object
hotel_facilities            object
hotel_star_rating           object
image_count                float64
latitude                   float64
locality                    object
longitude                  float64
pageurl                     object
property_id                float64
property_name               object
property_type               object
province                    object
qts                         object
room_count                 float64
room_type                   object
similar_hotel               object
site_review_count           object
site_review_rating         float64
site_stay_review_rating     object
sitename                    object
special_tag                 object
state                       object
uniq_id                     object
zone                        object
dtype: object

In [168]:
df.isnull().sum()*100/len(df)

address                     9.833333
city                        0.300000
country                     0.000000
crawl_date                  0.000000
hotel_brand                78.133333
hotel_description           9.833333
hotel_facilities            9.833333
hotel_star_rating          48.750000
image_count                41.050000
latitude                    0.000000
locality                   91.183333
longitude                   0.000000
pageurl                     0.000000
property_id                 9.833333
property_name               9.833333
property_type               0.000000
province                   91.183333
qts                         0.000000
room_count                  9.833333
room_type                   0.083333
similar_hotel              29.250000
site_review_count          29.966667
site_review_rating         20.133333
site_stay_review_rating    63.950000
sitename                    0.000000
special_tag                 9.833333
state                       0.816667
uniq_id                     0.000000
zone                       91.183333
dtype: float64

##### Dropping columns with null values greater than 30%

In [169]:
columns = ['hotel_brand','hotel_star_rating','image_count','locality','province','site_stay_review_rating','zone','similar_hotel','site_review_count','site_review_rating']
df.drop(columns = columns, axis = 1, inplace = True)

In [170]:
df.head()

,address,city,country,crawl_date,hotel_description,hotel_facilities,latitude,longitude,pageurl,property_id,property_name,property_type,qts,room_count,room_type,sitename,special_tag,state,uniq_id
0,"KHIRSU, 246147 Pauri, India – Great location -",pauri,India,2016-09-01,Khirsu By GMVN offers accommodation in Pauri. ...,Bathroom:Toilet paper|Linen|Towels|Bathroom|To...,30.123749,78.793774,http://www.booking.com/hotel/in/khirsu-by-gmvn...,1742658.0,Khirsu By GMVN,204,2016-09-01 11:52:38 +0000,18.0,Economy Double Room,http://www.booking.com/,Share,Uttarakhand,a5ea72415f8007fcbe65759830fdd3d9
1,"Kaathadimattam, Balacola Post, NEAR Siva Tea F...",ooty,India,2016-09-01,"Situated in Ooty in the Tamil Nadu Region, 8 k...",Bathroom:Toilet paper|Linen|Towels|Bidet|Towel...,11.329595,76.686732,http://www.booking.com/hotel/in/global-village...,1755986.0,Global Village Ooty,212,2016-09-01 11:52:38 +0000,10.0,British Empire Chalet,http://www.booking.com/,Share,Tamil Nadu,7e0b055417271bbd9dae902f3e231ed4
2,"PIPALKOTI, 246472 Pīpalkoti, India – Show map",pīpalkoti,India,2016-09-01,TRH Pipalkoti offers accommodation in Pīpalkot...,Bathroom:Toilet paper|Linen|Towels|Bathroom•Vi...,30.429540,79.428116,http://www.booking.com/hotel/in/trh-pipalkoti....,1741747.0,TRH Pipalkoti,204,2016-09-01 11:52:38 +0000,28.0,Economy Double Room,http://www.booking.com/,Share,Uttarakhand,72c0af09827bbb620365aa5df523ba1d
3,"1 KARIYIL HOUSE KUMARAKOM NORTH PO KOTTAYAM, 6...",kumarakom,India,2016-09-01,"Swasti house boat 2 is located in Kumarakom, 3...",Bathroom:Toilet paper|Towels|Bath|Shower•Bedro...,9.616057,76.428269,http://www.booking.com/hotel/in/swasti-house-b...,1747392.0,Swasti house boat 2,204,2016-09-01 11:52:38 +0000,1.0,Deluxe Room,http://www.booking.com/,Share,Kerala,eb6fd33d99aa4a8088caa8f3ecb08275
4,"Kavanattinkara, 686563 Kumarakom, India – Show...",kumarakom,India,2016-09-01,"Amrutham Houseboat 2 is set in Kumarakom, 5 km...",Bathroom:Toilet paper|Linen|Towels|Towels/Shee...,9.632854,76.423570,http://www.booking.com/hotel/in/amrutham-house...,1744962.0,Amrutham Houseboat 2,215,2016-09-01 11:52:38 +0000,2.0,Mobile Home,http://www.booking.com/,Share,Kerala,0814d9af7ad808863c04db8f30437c57

In [171]:
print(len(df['room_count'].value_counts()),len(df['country'].value_counts()),len(df['room_type'].value_counts()))

124 1 391

In [172]:
from sklearn.impute import SimpleImputer

In [173]:
imputer = SimpleImputer(strategy='mean')

In [174]:
num_cols = ['latitude','longitude','room_count','property_id']
df_num = df[num_cols]
df_cat = df.drop(columns = num_cols, axis = 1)

In [175]:
imputer.fit(df_num)
X = imputer.transform(df_num)
df_num = pd.DataFrame(X, columns = df_num.columns, index = df_num.index)

In [176]:
df_num.isnull().sum()/len(df_num)

latitude       0.0
longitude      0.0
room_count     0.0
property_id    0.0
dtype: float64

In [177]:
df_num.shape
df_cat.shape

(6000, 15)

In [178]:
df_new = pd.concat([df_num,df_cat],axis=1,sort=False)
df_new.dropna(axis=0,inplace=True)

In [179]:
df_new.corr()

             latitude  longitude  room_count  property_id
latitude     1.000000   0.049055    -0.01084    -0.122789
longitude    0.049055   1.000000     0.02626    -0.022307
room_count  -0.010840   0.026260     1.00000    -0.285500
property_id -0.122789  -0.022307    -0.28550     1.000000

###### Question 1 
- Not much of a correlation among the numerical variables
- The above correlation matrix shows weaker correlations among the variables

##### Question 2 - Best subset regression table

In [180]:
num_cols = ['latitude','longitude','room_count','property_id']
df_num = df_new[num_cols]
df_cat = df_new.drop(columns = num_cols, axis = 1)

In [181]:
columns1 = ['property_type','qts','special_tag','state']
df_cat_new = df_cat[columns1]

In [182]:
from sklearn.preprocessing import OneHotEncoder

In [183]:
catEncoder = OneHotEncoder(sparse = False)

In [184]:
df_cat_OneHotEncoded = catEncoder.fit_transform(df_cat_new)

In [185]:
df_cat_OneHotEncoded.shape

(5353, 82)

In [186]:
final_df = pd.concat([df_num,pd.DataFrame(df_cat_OneHotEncoded)],axis = 1, sort = False)

In [187]:
final_df.dropna(axis = 0,inplace=True)

In [188]:
final_df.isnull().sum()/len(final_df)

latitude       0.0
longitude      0.0
room_count     0.0
property_id    0.0
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
5              0.0
6              0.0
7              0.0
8              0.0
9              0.0
10             0.0
11             0.0
12             0.0
13             0.0
14             0.0
15             0.0
16             0.0
17             0.0
18             0.0
19             0.0
20             0.0
21             0.0
22             0.0
23             0.0
24             0.0
25             0.0
              ...
52             0.0
53             0.0
54             0.0
55             0.0
56             0.0
57             0.0
58             0.0
59             0.0
60             0.0
61             0.0
62             0.0
63             0.0
64             0.0
65             0.0
66             0.0
67             0.0
68             0.0
69             0.0
70             0.0
71             0.0
72             0.0
73             0.0
74             0.0
75             0.0
76             0.0
77             0.0
78             0.0
79             0.0
80             0.0
81             0.0
Length: 86, dtype: float64

In [189]:
final_df.head()

,latitude,longitude,room_count,property_id,0,1,2,3,4,5,...,72,73,74,75,76,77,78,79,80,81
0,30.123749,78.793774,18.0,1742658.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,11.329595,76.686732,10.0,1755986.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,30.429540,79.428116,28.0,1741747.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,9.616057,76.428269,1.0,1747392.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,9.632854,76.423570,2.0,1744962.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [190]:
def fit_linear_reg(X,Y):
    #Fit linear regression model and return RSS and R squared values
    model_k = linear_model.LinearRegression(fit_intercept = True)
    model_k.fit(X,Y)
    RSS = mean_squared_error(Y,model_k.predict(X)) * len(Y)
    R_squared = model_k.score(X,Y)
    return RSS, R_squared

In [ ]:
#Importing tqdm for the progress bar
from tqdm import tnrange, tqdm_notebook

#Initialization variables
Y = final_df.room_count
X = final_df.drop(columns = 'room_count', axis = 1)
k = 11
RSS_list, R_squared_list, feature_list = [],[], []
numb_features = []

#Looping over k = 1 to k = 11 features in X
for k in tnrange(1,15, desc = 'Loop...'):

    #Looping over all possible combinations: from 11 choose k
    for combo in itertools.combinations(X.columns,k):
        tmp_result = fit_linear_reg(X[list(combo)],Y)   #Store temp result 
        RSS_list.append(tmp_result[0])                  #Append lists
        R_squared_list.append(tmp_result[1])
        feature_list.append(combo)
        numb_features.append(len(combo))   

#Store in DataFrame
df = pd.DataFrame({'numb_features': numb_features,'RSS': RSS_list, 'R_squared':R_squared_list,'features':feature_list})

HBox(children=(IntProgress(value=0, description='Loop...', max=14, style=ProgressStyle(description_width='init…

##  The above dataframe gives us the best subset selection of features

### Question 3
- loocv

In [ ]:
from sklearn.model_selection import cross_val_score
lin_reg = linear_model.LinearRegression(fit_intercept = True)
scores = cross_val_score(lin_reg, X, Y, cv=len(X))

#### Question 4
- logistic regression setup

- I would set it up by taking the mean of the target variable and dividing it into two categories
- Any value less than the mean would be a zero and a value greater than the mean would be 1
- No I would not add an additional binary variable as it would not add any information/use to the model
- making my target varibale binary would be the easiest way out however we could also perform multiple class classification using the OVA or OVO techniqes by splitting the variable room_count into 'n' categories where 'n' is an integer

###  Question 5
- Setting up logistic model

- Here my X variables/attributes would still remain the same where as our y variable as described above which be made binary.

In [ ]:
ab = final_df['room_count'].mean()

In [ ]:
y = (final_df['room_count'] > ab)

In [ ]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()

In [ ]:
model = log_reg.fit(X,y)